.coin-table {
  width: 100%;
  border-collapse: collapse;
  height: 100px;

  th,
  td {
    padding: 8px;
    text-align: left;
    position: relative;
    font-size: 14px;
    max-width: 12px;
    height: 65px;
    table-layout: fixed;
    overflow: hidden;

  }

  th {
    background-color: #6989af;
    color: #ffffff;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }

  td button.add-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s, color 0.2s;
  }

  .coin-link {
    display: block;
    color: inherit;
    text-decoration: none;
  }

  .coin-link:hover {
    background-color: #ddd;
  }

  @media (max-width: 768px) {
    td,
    th {
      padding: 4px;
      font-size: 12px;
    }

    .coin-table {
      font-size: 12px;
    }

    td button.add-button {
      padding: 6px 12px;
      font-size: 12px;
    }
  }
}

